*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
}

.navbar{
    height: 67px;
}

.navbar li{
    list-style: none;
    margin: 0 12px;
}

.section1{
    max-height: 100vh;
}

.section2{
    height: 50vh;
}

.section3{
    height: 50vh;
}

.topleft{
    width: 50%;
}

.topright{
    width: 50%;
}

.logo{
    font-size: xx-large;
}

.dumbelling{
    width: 30px;
}

.topright .gymimg{
    width: 500px;
}